@import "../casestudy1/style.scss";

h1{
    color: #33807c;
}

.csextraheading{
    font-weight: bold;
}

.cs2difheading{
    margin-left: 0.1rem;
}

.belowpicture{
    margin-left: 4rem;
    @media screen and (max-width:1044px){
        margin-left: 0;
    }
}