@import "../casestudy2/style.scss";

.maincontainer{
    width: 70%;
    margin-left: 20rem;
    margin-top: 6rem;
}

h1{
    color: #574f94;
}

.secondheading2{
    margin-left: 10rem;
    margin-bottom: -13rem;
}

.cs2difheading{
    margin-left: 0.2rem;
}
