@import "../../style.scss";

body{
    background-color: #f2f7fc;
    color: #1f1f1f;
}
.maincontainer{
    width: 70%;
    margin-left: 20rem;
    margin-top: 6rem;
}

.header{
    :link, 
    :visited{
        color: black;
    }
}

.border{
    border: 4px solid black; 
    color: black;
   &:hover{
    background-color: black;
   }
}

.border:hover a {
    color: white;
  }

h1{
    color: #5ed900;
}

.smallh1{
    text-align: left;
    margin-top: -2.5rem;
    color: #111215;
    margin-left: 0.4rem;
    line-height: normal;
    margin-bottom: 0.8rem;
}

.containertwo{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    column-gap: 1.5rem;
    margin-top: 8rem;

    &>*{
        display: grid;
        grid-template-rows: min-content 1fr;
        border:4px solid #111215;
    }

    &__images{
        width: 290px;
        height: 220px;
    }
}

.heading4{
    padding: 1rem;
}
.aboutproduct{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.hd4{
    padding-left: 2rem;
}

.aboutproduct{
    margin-top: -2rem;
    width: 95%;
}

.container3{
    display: grid;
    grid-template-rows: repeat(14, max-content);
    row-gap: 2rem;
    width: 80%;
    margin-left: 17vw;
    margin-top: 10rem;
}

.jaypara{
    width: 80%;
    color:#504f4f;
}

.secondheading{
    margin-left: -0.5rem;
    margin-bottom: -1rem;
    font-weight: 200;
}

.heading4{
    margin-left: -1rem;
}

.cs1img{
    width: 90rem;
    height: 67rem;
    margin-top: 1rem;
}

.container2{
    margin-top: 13rem;
    max-width: 100%;
}

.casestudies{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    color: #f2f7fc;
    &>*{
        border: 4px solid black;
    }
}

.logo{
    width: 16rem;
    height: 15rem;
}

.product2{
    margin-left: -1rem;
}

.secondheading2{
    margin-left: 10.5rem;
    margin-bottom: -14rem;
}

.name,
.email,
.text{
   border-bottom: 3px solid black;

   &:focus{
       outline: none;
       border-color: #3898EC; 
   }
}

.gitbutton{
    color: #111215;
    border-color: #111215;

    &:hover{
        color: white;
        background-color: #111215;
    }
}

.footerbutton{
    background-color: white;
    border: 4px solid black;
    &:hover{
        background-color: #111215;
        color: white;
    }
}

.fimages{
 &>*{
    border: 4px solid black;
}
}

