@import "../casestudy1/style.scss";

h1{
    color: #aa80ef;
}

.aboutbrandcs4{
    margin-left: 1rem;
}

.getintouch,
.casestudies,
.footer,
.container2{
    margin-right: auto;
    margin-left: 0;
}


.butterfly{
    position: relative;
    right: 21rem;
    top: 2rem;
}

.secondheading2{
   margin-left: -9rem;
   position: relative;
   top: 3rem;
   
}

.jaypara{
    width: 70%;
}

.cs4extraheading{
    margin-left: 1px;
}

.footerbutton{
padding: 15px 5px;
}
