@import "../casestudy2/style.scss";

h1{
    color: #aa80ef;
}

.aboutbrandcs4{
    margin-left: 1rem;
}

.getintouch,
.footer
{
    margin-right: auto;
    margin-left: 0;
}


.butterfly{
    position: relative;
    right: 21rem;
    top: 2rem;
}

.secondheading2{
   margin-left: -10.5rem;
   position: relative;
   top: 2rem;
   
}

.jaypara{
    width: 70%;
}

.cs4extraheading{
    margin-left: 1px;
}

.footerbutton{
padding: 15px 5px;
}

.casestudies{
    margin-right: 20rem;
    margin-left: -10rem;
}